@model IEnumerable<WebApplication_GestorClinico.Models.Administrativo>

@{
    ViewData["Title"] = "Personal Administrativo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark fw-bold"><i class="bi bi-person-badge"></i> Personal Administrativo</h3>
        <a asp-action="Create" class="btn btn-dark fw-bold shadow-sm">
            <i class="bi bi-person-plus"></i> Nuevo Empleado
        </a>
    </div>

    <div class="card shadow-sm border-0">
        <div class="card-body p-0">
            <table class="table table-hover mb-0 align-middle">
                <thead class="bg-light">
                    <tr>
                        <th class="ps-4">Legajo</th>
                        <th>Nombre Completo</th>
                        <th>DNI</th>
                        <th>Email Corporativo</th>
                        <th>Usuario</th>
                        <th class="text-end pe-4">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="ps-4 text-danger fw-bold">#@item.Legajo</td>
                            <td class="fw-bold">@item.Apellido, @item.Nombre</td>
                            <td>@item.Dni</td>
                            <td>@item.Email</td>
                            <td><small class="text-muted">@item.Usuario?.UserName</small></td>
                            <td class="text-end pe-4">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info"><i class="bi bi-eye"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>